table{
    border: 1px solid red;
    border-collapse: collapse;
}
th,td{
    border: 1px solid red;
   padding: 5px;

}
.red{
    display: inline-block;
    background-color: red;
}
#h3{
    display: inline-block;
    background-color: blue;
}